@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .subheader
        &_phone
            line-height: 13px
            font-size: 18px
        &_call
            font-size: 11px
        &_btn
            width: 165px
            height: 43px
            font-size: 13px
    .promo
        &_header
            font-size: 53px
        &_subheader
            font-size: 32px
        &_descr
            font-size: 15px
        &_btn
            width: 241px
            height: 58px
            font-size: 16px
    .reasons
        &_block
            align-items: flex-start
        &_descr
            width: 300px
    .label
        width: 107px
        height: 23px
        font-size: 11px
    .title
        font-size: 35px
    .subtitle
        font-size: 15px
    .mobile
        .item
            width: 300px
        &_subtitle
            font-size: 22px
    .choice
        &_descr
            font-size: 15px
    .condition
        &_title
            font-size: 20px
        &_list
            li
                font-size: 16px
        &_descr
            font-size: 15px

@media (max-width: 991px)
    .menu
        &_item
            padding-right: 8px
        &_link
            font-size: 10px
    .subheader
        height: 78px
        &_logo
            img
                width: 100%
        &_official
            font-size: 9px
        &_call
            font-size: 8px
        &_phone
            line-height: 10px
            font-size: 13px
        &_btn
            width: 123px
            height: 33px
            font-size: 10px
    .promo
        &_header
            font-size: 41px
        &_subheader
            font-size: 25px
        &_descr
            font-size: 13px
        &_btn
            width: 182px;
            height: 44px;
            font-size: 12px;
    .label
        width: 96px
        height: 21px
        font-size: 9px
    .title
        font-size: 28px
    .subtitle
        font-size: 13px
    .reasons
        &_block
            flex-direction: column
            align-items: center
        &_descr
            margin-top: 20px
        &_round
            margin-right: 0
    .mobile
        .item
            width: 222px
        &_subtitle
            font-size: 17px
    .choice
        &_descr
            font-size: 12px
    .condition
        &_title
            font-size: 17px
        &_list
            li
                font-size: 14px
        &_descr
            font-size: 11px
    .world
        .title
            font-size: 28px
        .subtitle
            font-size: 12px
        &_link
            font-size: 12px

@media (max-width: 767px)
    .menu
        position: fixed
        align-items: center
        justify-content: center
        flex-direction: column
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0, .8)
        transition: 0.6s all
        &_active
            left: 0
        &_item
            margin: 10px 0
            padding-right: 0
            border: none
        &_link
            font-size: 20px
        &_line
            display: block
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 20px
        span
            display: block
            width: 100%
            height: 2px
            margin-bottom: 2px
            background-color: #fff
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible 
        display: block
    .subheader
        &_phone
            display: block
            color: #ffffff
            font-size: 15px
            font-weight: 400
            text-transform: uppercase
            text-align: center
            margin-top: 15px
            text-decoration: none
        &_btn
            display: block
            width: 160px
            height: 35px
            margin: 0 auto
            margin-top: 10px
    .promo
        &_header
            line-height: 40px
    .choice
        img
            width: 545px
            margin: 93px auto 0 auto
    .footer
        &_wrapper
            padding: 25px 0 20px 0
            flex-direction: column
        &_wrapper > div 
            width: 100%
            &:nth-child(2)
                order: -1
        &_social
            margin: 0 auto
            margin-top: 20px
        &_mobile
            display: flex
            justify-content: center
            margin-top: 20px
        &_mobile a 
            padding: 0 4px

@media (max-width: 575px)
    .menu
        width: 85%
 
    .subheader
        height: 60px
        &_logo
            margin-top: 18px
        &_official
            display: none
        &_phone
            margin-top: 11px
            font-size: 12px
        &_btn
            width: 110px
            height: 22px
            margin-top: 6px
            font-size: 9px
    
    .promo
        min-height: 400px
        padding: 93px 0 35px 0
        &_descr
            display: none
        &_header
            font-size: 30px
            padding: 0 24px
            line-height: 35px
        &_subheader
            font-size: 20px
            margin-top: 33px
            padding: 0 10px
            line-height: 30px
        &_btn
            width: 210px
            height: 50px
            margin-top: 72px
            font-size: 16px
    
    .reasons
        padding: 22px 0 36px 0
        .title
            font-size: 16px
            margin-top: 15px

    .mobile
        padding: 36px 0 13px 0
        .title
            margin-top: 15px
            font-size: 16px
        .subtitle
            font-size: 14px
            padding: 0 20px
            margin-top: 3px
        .row
            margin-top: 27px
        .item
            width: 290px
            margin-bottom: 30px
        &_subtitle
            font-size: 18px
            padding: 0 40px

    .choice
        min-height: 200px
        padding: 36px 0 15px 0
        &_black
            height: 390px
        .title
            display: none
        .subtitle
            display: none
        img
            width: 300px
            margin-top: 35px
        &_descr
            color: #ffffff
            font-size: 16px
            padding: 0 33px
    .condition
        padding: 25px 0 5px 0
        .title
            margin-top: 15px
            font-size: 16px
        &_block
            margin: 0
            margin-top: 22px
    .world
        min-height: 360px
        padding: 25px 0 0 0
        &_link
            bottom: 30px
    .footer
        &_divider
            width: 283px
        &_links
            width: 297px
            &_main
                font-size: 14px
                padding: 0 5px
            &_main a
                font-size: 14px
            &_sub
                flex-wrap: wrap
            &_sub a 
                padding: 0 25px 10px 26px
            &_lang
                margin-top: 6px
                font-size: 12px
            
        