body {
    margin: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.portfolio {
    height: 650px;
    padding: 25px 50px;
    background: url(../img/bgck.jpg) center center / cover no-repeat;
}

h2 {
    text-align: center;
    font-size: 20px;
    padding: 12px 25px;
}

.title_block {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 45px;
    background: #ffa501;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: #ffa501;
    margin: 20px auto 0 auto;
}

.title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.portfolio__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.portfolio__item {
    width: 350px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
}

.portfolio__item img {
    width: 100%;
}
.portfolio__item .soon {
    margin-top: 120px;
}